.header{
    text-align: left;
    padding-left: 6rem;
    padding-top: 6rem;
    color: white;
}

.bodytext{
    text-align: flex-start;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-right: 6rem;
    color: white;
}

.devtext{
    text-align: flex-start;
    padding-left: 6rem;
    padding-top: 0.5rem;
    padding-right: 6rem;
    color: white;
}

.filters{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}

.image{
    width:40rem;
    height: auto;
}

.homeImage{
    width:40rem;
    height: auto;
}

.home{
    display: flex;
    justify-content: center;
}

.conclusiontext{
    text-align: flex-start;
    padding-left: 6rem;
    padding-top: 0.5rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    color: white;
}