.header{
    text-align: left;
    padding-left: 6rem;
    padding-top: 6rem;
    color: white;
}

.bodytext{
    text-align: flex-start;
    padding-left: 6rem;
    padding-top: 1rem;
    padding-right: 6rem;
    color: white;
}

.novigtext{
    text-align: flex-start;
    padding-left: 6rem;
    padding-top: 0.5rem;
    padding-right: 6rem;
    color:white;
}

.sketches{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.image{
    width:40rem;
    height: 45rem;
}

.imageW{
    width:40rem;
    height: 30rem;
}


.user{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
    padding-left: 6rem;
}

.conclusiontext{
    text-align: flex-start;
    padding-left: 6rem;
    padding-top: 0.5rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    color: white;
}

.link{
    color:red;
}